@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap');
@import './animations.css';

:root {
  --roboto: 'Roboto', sans-serif;
  --roboto-condensed: 'Roboto Condensed', sans-serif;
}

body {
  margin: 0;
  font-family: var(--roboto);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 2px;

  background: #a99e7e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: hsl(45, 20%, 38%);
}

.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  background-size: cover;
  background-position: 0 -98px;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0.5) 0%,
      rgba(0, 0, 0, 0.9) 100%
    ),
    url(assets/background.png);
  overflow: hidden;
  z-index: -100;
}

.form-input {
  display: block;
  border: none;
  color: white;
  font-family: var(--roboto);
  padding-bottom: 8px;
  font-size: 0.8rem;
  line-height: 16px;
  border-bottom: 1px solid #a99e7e;
  background-color: rgba(0, 0, 0, 0);
}

.form-input:focus {
  outline: 0;
}

.form-label-initial {
  position: relative;
  bottom: -1rem;
  color: #a99e7e;
  font-size: 0.875rem;
  z-index: -1;
  font-family: var(--roboto-condensed);
}

.form-label-float {
  position: relative;
  bottom: 0;
  color: #a99e7e;
  transition: 200ms all ease-out;
  font-size: 0.7rem;
  z-index: -1;
  font-family: var(--roboto-condensed);
}

.form-group {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}

.form-group .form-input {
  margin-bottom: 15px;
}

.btn-group * {
  display: inherit;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.btn {
  padding: 11px 35px;
  width: fit-content;
  text-transform: uppercase;
  color: #a99e7e;
  background: none;
  border: 2px solid #a99e7e;
  cursor: pointer;
  transition: 175ms background ease-in;
  font-size: 0.875rem;
  line-height: 1rem;
  font-family: var(--roboto-condensed);
}

.btn-route {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: fit-content !important;
  text-decoration: none;
}

.btn-transparent {
  border: none !important;
  color: white;
}

.btn-block {
  box-sizing: border-box;
  width: 80% !important;
}

.hide {
  display: none !important;
}

.login-content {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
}

.login-content .btn {
  margin: 50px auto;
}

.login-content .form-group {
  margin: 50px auto;
}

.login-content input.form-input {
  width: 285px;
}

.btn:hover {
  color: #a99e7e;
  background-color: hsl(45, 20%, 28%);
  border: 2px solid hsl(45, 20%, 38%);
  cursor: pointer;
}

.btn:active {
  color: #a99e7e;
  background-color: hsl(45, 20%, 48%);
  border: 2px solid hsl(45, 20%, 38%);
  cursor: pointer;
}

.loader {
  position: relative;
  z-index: 10;
  height: 20vh;
  width: auto;
  fill: #4c4c4c;
}

.loader-center {
  margin: auto;
}

.loader :nth-child(3) {
  animation: loader-animation 1s ease-in forwards;
}

.loader :nth-child(1) {
  animation: loader-animation 1s 1s ease-in forwards;
}

.loader :nth-child(2) {
  animation: loader-animation 1s 2s ease-in forwards;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background: rgba(29, 26, 26, 0.95);
  height: 100vh;
  width: 100vw;
}

.overlay-close-button {
  position: absolute;
  align-self: flex-end;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: white;
  padding: 24px;
  cursor: pointer;
}

.video-thumbnail {
  height: 222px;
  width: 375px;
  display: flex;
  flex-flow: column-reverse wrap;
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.video-label {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  font-family: var(--roboto-condensed);
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.video-card {
  padding: 5px;
  background: #1d1a1a;
  border: 1px solid #a99e7e;
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.video-frame {
  margin: auto;
  padding: 12px;
  background: #000000;
  border: 1px solid #a99e7e;
  box-shadow: 0px 0px 50px #000000;
}

.video-grid {
  margin-top: 58px;
  padding-left: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  overflow-y: scroll;
  height: calc(100% - 58px);
}

.img-logo-menu {
  width: 80%;
  height: auto;
  margin: 25% auto 25%;
}

.img-logo-login {
  width: 275px;
  height: auto;
}

.video-grid .video-card {
  margin: 0 20px 48px 20px;
}

.video-grid .button-container {
  display: flex;
  width: 375px;
  margin: 0 20px 48px 20px;
}

.button-container button {
  margin: auto;
}

.content {
  position: relative;
  left: 100%;
  border-left: 1px solid #4c4c4c;
  padding: 0 20px 20px 0;
  height: 100vh;
  width: 70vw;
  background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 98.3%);
}

.aside {
  display: flex;
  flex-flow: column wrap;
  margin: 0 auto;
  width: 25vw;
}

.container {
  width: 100vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
}

.fade-in * {
  animation: fade-in 1.2s ease-in-out both;
}

.fade-out * {
  animation: fade-out 1s ease-in-out both;
}

.enter-rl {
  animation: enter-rl 1s ease-in-out both;
}
